*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 200vh;
    width: 100vw;
    background-color: #F5F5F7;

    
}

.headcontainer{
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px; /* Reduce space below the header */
    padding-bottom: 5px;
  
    
   

}

a{
    text-decoration: none;
    /* for changing the font color */
    color:rgb(60, 58, 58);
}
.mainlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4px;
   
    
}
.list2{
    display: flex;
    gap: 50px;
    font-size: 1.5rem;
    
}
.mainlist img{
    display: flex;
    height: 45px;
   
   
    
}
.list2 img {
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
}
.contentbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
   
}
.contentbox video {

    width: 85%;
    border-radius: 50px;
}
main{
    margin: 0;
    padding: 0;
}
.h1{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 10%;
    gap: 30%;
    color:rgb(60, 58, 58) ;
    font-size: 4rem; 
    
}
.p1{
    font-size: 10rem;
}
.v1{
    
    box-shadow: 6px solid 5px green;
    
}
.p2{
    display: flex;
    flex-direction: row;
    gap: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    font-size: 4rem;
    color:rgb(60, 58, 58) ;
}
.iphone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    background-color: #efefef;
    
   
    
}
.iphone img{
    width: 200px;
   
   
   
   
    gap: 10px;
    flex-direction: row;
   
    border-radius: 50px;

    
}
.iphone :hover{
    transform: scale(1.4);
    transition: all 2s ease 0.6s ;
}
.iphone2{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;
    flex-wrap: wrap;


}
.leftbox{
  font-size: 2rem;
}

.rightbox .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(252, 247, 247, 0.6);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.rightbox:hover .overlay{
    opacity: 0.8;
}
.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;

}
.rightbox {
    position: relative; /* This is necessary for the overlay to work */
    width: 220px; /* Adjust the size */
}

.rightbox .overlay span {
    color: rgb(31, 3, 3); /* Default color for all spans */
    font-size: 1.2rem;
    font-weight: bold;
}